@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

 *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
 }

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #F05973;
    color: #F3E99F;
}

.strong-titulo{
    color: #84bd94;
}

.strong-texto{
    color: #f3c94b;
}

.apresentacao{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.apresentacao_titulo{
font-size: 35px;
text-align: center;
}

.apresentacao_paragrafo{
    font-size: 22px;
}

.botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 29px;;
}

.botoes_design{
    background-color: #84bd94;
    text-decoration: none;
    width: 280px;
    color: #F3E99F;
    font-weight: bold;
    text-align: center;
    border-radius: 16px;
    font-size: 22px;
    padding: 16px 0px;
}

.apresentacao_subtitulo{
    
}